<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>

 
  <include file="$(find aws_robomaker_small_warehouse_world)/launch/small_warehouse.launch" />
  
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <!-- <arg name="robot_namespace" value="husky_alpha"/> -->

  </include>

  <!-- <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="robot_namespace" value="husky_beta"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="3.0"/>
    <arg name="yaw" value="30.0"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="robot_namespace" value="husky_gamma"/>
    <arg name="x" value="-3.0"/>
    <arg name="y" value="-1.0"/>
    <arg name="yaw" value="45.0"/>
  </include> -->

</launch>